<div class="details">
	<div class="info">
		<div class="date"> {{event.date | date:'shortTime'}} </div>
		<div class="time"> {{event.date | date:'MMMM d, yyyy'}} </div>
		<div class="location"> {{event.location}} </div>
	</div>
	<div class="map-container right-align">
		<div class="map">
			<a target="_blank" href="http://maps.google.com/?q={{event.location}}">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center={{event.location}}&zoom=13&size=130x130&maptype=roadmap&markers=color:blue&key=AIzaSyCR2qd3ua_tH4Yt6CB9bCN0Att3eM-aYyw">
			</a>
		</div>
	</div>
</div>

