<div class="form">
	<div class="input-field">
		<input id="member_name" type="text" placeholder="Name" [(ngModel)]="memberName" (keyup.enter)="submit()" />
	</div>
	<button class="waves-effect waves-light btn" (click)="submit()" md-raised-button color=’primary’>Join!</button>
</div>

<div class="list">
	<ul>
		<li *ngIf="event.members.length === 0">
			No one yet...
		</li>
		<li *ngFor="let member of members">
			<div class="member">
				<span class="name"> {{ member.name }} </span>
				<span class="date"> {{ member.created | date:"hh:mm, d MMM" }} </span>
				<span class="delete right-align">
					<a (click)="remove(member)"><i class="material-icons">highlight_off</i></a>
				</span>
			</div>
		</li>
	</ul>
</div>
<div>
	<hr style="border: 0; border-top: 1px solid #ccc;"/>
	<div>Participants: <b style='font-size: 1.2rem;'>{{members.length}}</b></div>
	<div>Event in: <span style="font-style: italic;">{{toDate()}}</span></div>
</div>