<nav>
	<div class="nav-wrapper row">
		<div class="col s12">
			<a href="#" class="brand-logo"><i class="material-icons">android</i>Fuzbal</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Edit</a></li>
				<li><a href="/">Create</a></li>
                <li><i class="material-icons">settings</i></li>
			</ul>
		</div>
	</div>
</nav>

<main>
	<div class='container'>
		<div class="event z-depth-3">
			<div class="row">
				<div class="col s4">
					<players></players>
				</div>
				<div class="col s8">
					TODO: details
				</div>
			</div>
		</div>

		<div class="chat">
			<div class="row">
				<div class="col s12">
					Chat
				</div>
			</div>
		</div>
	</div>
</main>

<footer class="page-footer">
    <div>
        <a class="grey-text text-lighten-4 right center" href="#!">© 2016 </a>
    </div>
</footer>