/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
/*@import "../node_modules/materialize-clockpicker/dist/css/materialize.clockpicker.css";*/

/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css";
@import "../node_modules/bootstrap-material-design/dist/css/ripples.css";*/

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-shell {

}

.app-shell__nav {
  width: 100%;
  background: blue;
  height: 50px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(assets/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}