/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import "../node_modules/materialize-clockpicker/dist/css/materialize.clockpicker.css";

/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css";
@import "../node_modules/bootstrap-material-design/dist/css/ripples.css";*/

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
