/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
