main {
  margin: 20px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 10px;

}

.container {
    // margin-top: 20px;
    // display: flex;
    // flex-direction: column;
    // flex: 1;
}

.event-container {
  padding: 20px;
}

.chat-container {
  // flex: 1;
  margin-top: 20px;
}